html,body{
    margin: 0;
    padding: 0;
}

/*The Following 2 css elements are used
for the alignment of sections at the top of page one */
h3{
    margin-top: 0px;
} 
h2{
    margin-top: 0px;
}

nav{
    width: 100%;
    height: 80px;
    background-color: gray;
    
}

header{
    width: 100%;
    height: 50vh;
    background-color: lightgray;
}

/*The following 2 CSS elements are 
used to align the header and sub-title of the page 
to one another */
.title{
    padding-top: 15vh;
    margin-bottom: -20px;
    padding-left: 10%;
}
.subtitle{
    margin-top: 0px;
    padding-left: 10%;
}


/*Styling for the column sections*/

/*Css to bring the heading of each
 section closer to the section*/
h4{
    margin-bottom: 0%;
}

.full-col{
    height: 90px;
}

.col-1{
    width: 80%;
    height: 70px;
    margin-left: 10%;
    background-color: gray;
    text-align: center;
    color: #ffffff;
}

/*Aligning the columns*/
.third-col{
    height: 260px;
    margin-left: 10%;
    margin-right: 10%;
}

.col-3{
    width: 31.33%;
    height: 210px;
    background-color: gray;
    text-align: center;
    color: #ffffff;
    margin: 1%;
    float: left;
}

.quart-col{
    height: 260px;
    margin-left: 10%;
    margin-right: 10%;
}

.col-4{
    width: 23%;
    height: 210px;
    background-color: gray;
    text-align: center;
    color: #ffffff;
    margin: 1%;
    float: left;
}

.half-col{
    height: 260px;
    margin-left: 10%;
    margin-right: 10%;
}

.col-2{
    width: 48%;
    height: 210px;
    background-color: gray;
    text-align: center;
    color: #ffffff;
    margin: 1%;
    float: left;
}

/*Footer section*/
footer{
    padding: 10px;
    width: 100%;
    height: 88px;
    background-color: darkslategrey;
    color: #ffffff;
    text-align: center;
}

.logo{
    width: 200px;
    float: left;
}

.nav-con{
    width: 550px;
    height: 50px;
    float: right;
    margin-top: 5px;
}

.nav-con ul{
    list-style: none;
}

.nav-con li{
    float: left;
    height: 28px;
    background-color: #ffffff;
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 10px;
    margin-left: 10px;
    padding-top: 8px;
}

.nav-con li:hover{
background-color: black;
color: #ffffff;
cursor: pointer;
}

.nav-con a{
    color: black;
}

.active{
    background-color: black !important;
    color: #ffffff;
}